desktop.ini
Thumbs.db
ehthumbs.db
IconCache.db
$RECYCLE.BIN
.DS_Store
._*
*.tmp
*.temp
*.log
*.bak
*.swp
changelogs.json
project_style.json
implementation_plan.md
walkthrough.md
.gemini
node_modules
dist
build
Release
release
*.exe
.env
.env.*
__pycache__
.venv
.gemini/
Remake/dist-electron/main.js
Remake/dist-electron/preload.js
dist-electron/main.js
dist-electron/preload.js
